.App{
  font-family: Arial, Helvetica, sans-serif;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
  width: 100vh;
  z-index: 99;
}

.Menu{
  height: 500px;
  width: 500px;
}

button :active{
  background-color: yellow;
  color: yellow;
}
button :hover{
  background-color: yellow;
  color: yellow;
}
